@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  button {
    border: none;
    background-color: transparent;
  }

  input:focus {
    outline: none;
  }

  select {
    appearance: none;
    -webkit-appearance: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }
}

@font-face {
  font-family: "SUITE";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "SUIT";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-style: normal;
}
